# configuration folders and/or files that should not be ignored
!gnupg/*.conf
!ssh/keys/.gitkeep
!xdg/*/.gitkeep

# configuration folders that should be ignored by default
git/work/
gnupg/
ssh/keys
xdg/

# configuration files that should always be ignored
**.lock**
**/*secret*
**/scratch/*
.DS_Store
.netrwhist
configstore
known_hosts
shell-work
