# configruation folders and/ or files that should never be ignored
!bin/
!git/gitconfig
!gnupg/*.conf
!macos/
!nvim/
!shell/
!ssh/config
!ssh/keys/.gitkeep
!rust/cargo/config.toml
!tmux/
!utils/
!vim/
!x/
!xdg/*/.gitkeep
!zsh/

# configuration folders that should be ignored by default
cache/
dlv/
GIMP/
git/
gnupg/
htop/
mutt/
neofetch/
*js*/
nvm/
pass/
procps/
pulse/
rust/
sdk/
ssh/
xdg/

# configuration files that should always be ignored
**.lock**
**/*secret*
**/scratch/*
.DS_Store
.netrwhist
configstore
shell-work
