# configuration folders and/or files that should never be ignored
!bin/
!git/config
!gnupg/*.conf
!macos/
!nvim/
!shell/
!ssh/config
!ssh/keys/.gitkeep
!rust/cargo/config.toml
!tmux/
!utils/
!vim/
!x/
!xdg/*/.gitkeep
!zsh/

# configuration folders that should be ignored by default
git/
gnupg/
pass/
ssh/
xdg/

# configuration files that should always be ignored
**.lock**
**/*secret*
**/scratch/*
.DS_Store
.netrwhist
configstore
shell-work
